html {
  color: #555;
}

.header, .navbar {
  padding: 0 8%;
}

@media only screen and ( max-width: 544px ) {
  .header {
    padding: 0 5%;
  }

  .navbar {
    padding: unset;
  }
}


/* header */
.header-title {
  line-height: 60px;
  font-size: 2em;
  margin-left: 87px;
  padding-left: 1.4em;
}

@media only screen and ( max-width: 768px ) {
  .header-title {
    margin-left: 40px;
  }
}

@media only screen and ( max-width: 544px ) {
  .header-title {
    margin-left: unset;
    padding-left: .5em;
    font-size: 1.3em;
    float: left;
  }
}

.header-title a {
  color: unset;
}

.header-icon {
  float: left;
}

.debian-logo-small {
  zoom: 50%;
}

.header-button {
  height: 40px;
  margin-top: 10px;
  width: 10%;
  cursor: pointer;
  float: right;
}

.menu-icon {
  width: 50%;
  height: 10%;
  position: relative;
  top: 50%;
  margin-top: -5%;
  left: 50%;
  margin-left: -25%;
  background: #D24C72;
  border-radius: 30px;
}

.menu-icon::before, .menu-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #D24C72;
  position: absolute;
  left: 0;
  border-radius: 30px;
}

.menu-icon::before {
  top: -200%;
}

.menu-icon::after {
  bottom: -200%;
}

/* navbar */
.navbar {
  text-align: center;
  z-index: 1;
  border-bottom: 5px solid #D24C72;
  background-color: #fff;
}

.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 84%;
}

.navbar-header {
  float: left;
  padding-right: 1.7em;
}

.navbar-header > div {
  height: 3.75em;
  float: left;
}

.navbar-header-logo-box {
  width: 10%;
  margin: 0 2.5%;
}

.debian-logo {
  margin-top: -60px;
}

.navbar-top .debian-logo {
  margin-bottom: -70px;
}

.navbar-collapse {
  overflow: hidden;
}

@media screen and ( max-width: 544px ) {
  .navbar-collapse {
    max-height: 0;
    transition: max-height .5s ease-out;
  }

  .navbar-collapse-slidedown {
    max-height: 13.2em;
    transition: max-height .5s ease-in;
  }
}

.navbar-nav {
  margin: 0;
  height: 3.125em;
}

.navbar-top .navbar-nav {
  height: 2.2em;
}

@media not screen and ( max-width: 544px ) {
  .navbar-nav {
    float: left;
  }

  .navbar-nav.navbar-right {
    float: right;
  }
}

@media screen and ( max-width: 544px ) {
  .navbar-nav {
    height: unset;
  }

  .navbar-collapse {
    width: 100%;
  }
}

.active, .navbar-nav li:hover {
  background-color: #e4e4e4;
}

@media screen and ( max-width: 544px ) {
  .navbar-nav > * {
    height: 2.2em;
  }
}

@media not screen and ( max-width: 544px ) {
  .navbar-nav > * {
    float: left;
    height: 100%;
  }
}

.navbar-nav > li {
  width: 5.5em;
}

@media screen and ( max-width: 768px ) {
  .navbar-nav > li {
    width: 4.7em;
  }
}

@media screen and ( max-width: 544px ) {
  .navbar-nav > li {
    width: 100%;
  }
}

.navbar-nav a {
  color: #556;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav a:hover {
  color: white;
  text-shadow: 1px 1px #000000;
}


/* tab */
.tab-content {
  max-width: 85%;
  overflow: hidden;
  margin: auto;
}

@media only screen and ( max-width: 544px ) {
  .tab-content {
    max-width: 95%;
  }
}

.tab-active {
  display: block;
  animation: fadein .4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* content */
.d-flex {
  display: flex;
  flex: auto;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

@media screen and ( max-width: 544px ) {
  .flex-column-xs-down {
    flex-direction: column;
  }

  .flex-row-xs-down {
    flex-direction: row;
  }
}

@media screen and ( max-width: 768px ) {
  .flex-column-sm-down {
    flex-direction: column;
  }

  .flex-row-sm-down {
    flex-direction: row;
  }
}

@media not screen and ( max-width: 1200px ) {
  .flex-column-xl-up {
    flex-direction: column;
  }

  .flex-row-xl-up {
    flex-direction: row;
  }
}


/* content */
.row {
  margin: 1.5em;
  line-height: 1.7em;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

section a, footer a {
  color: rgba(210, 76, 114, 0.8);
}

input, textarea {
  outline: none;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.25em;
  margin-bottom: 0;
  font-weight: 200;
  border-bottom: 1px solid rgba(210,76,114,0.2);
  color: #d24c72;
}

.text-center {
  text-align: center;
}


/* footer */
footer {
  border-top: 5px solid #D24C72;
  background-color: #fff;
  font-size: 0.8em;
  text-align: center;
  padding: 1em 0;
  line-height: 1.2em;
}

footer p {
  margin: unset;
}


/* screen */
@media screen and ( max-width: 544px ) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media not screen and ( max-width: 544px ) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media screen and ( max-width: 768px ) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media not screen and ( max-width: 768px ) {
  .hidden-md-up {
    display: none !important;
  }
}

@media screen and ( max-width: 1200px ) {
  .hidden-md-down {
    display: none !important;
  }
}

@media not screen and ( max-width: 1200px ) {
  .hidden-lg-up {
    display: none !important;
  }
}
