.mainbox{
    background-color:#FFFFFF;
    height:470px;
    margin-left:200px;
    margin-right:200px;
    padding:40px;
}
.mainbox h3{
    margin:5px;
    border-bottom:1px;
    border-bottom-style:solid;
    border-bottom-color:grey;
    padding-bottom:10px;
    margin-bottom:30px;
}
.mainbox center{
    font-size:0.9em;
}
