@charset "utf-8";
/* 布局 页面共用样式 */
html{ background: url('../images/bg.png'); }
.ls_container{ width: 100%; margin: auto; }
.logoContainer{ text-align: left; text-indent: 120px; max-width: 1200px; margin: auto; }
.navigationContainer{
    text-align: center;
    width: 100%;
    background-color: #fff;
    transition: height 2s;
}
 .navButton{ height: 35px; line-height: 35px; }
  .navMobi>div{ height: 60px; float: left; }
   .navMobiLeft{ width: 10%; margin: 0 2.5%; }
   #logo_small { height: 100%; }
    .navMobiTitle{
        height: 60px;
        width: 75%;
        line-height: 60px;
        font-size: 2em;
        font-weight: bold;
        text-align: left!important;
        color: #555;
    }
   .navMobiRight{height: 40px!important; margin-top: 10px; width: 10%; cursor: pointer; }
   .menu_mobi{
       width: 50%;
       height: 10%;
       position: relative;
       top: 50%;
       margin-top: -5%;
       left: 50%;
       margin-left: -25%;
       background: #D24C72;
       border-radius: 30px;
   }
   .menu_mobi::before, .menu_mobi::after{
       content:"";
       display: block;
       width: 100%;
       height: 100%;
       background: #D24C72;
       position: absolute;
       left: 0;
       border-radius: 30px;
		       }
   .menu_mobi::before{
       top: -200%;
   }
   .menu_mobi::after{
       bottom: -200%;
   }
   .menuListDiv{ width: 100%; border-bottom: 5px solid #D24C72; background-color: #fff; overflow: hidden; z-index: 1; }
  .menuList{ max-width: 1100px; margin: auto; }
  .menuListSelected, .menuList li:hover{ background-color: #e4e4e4; }
  .menuList li{ float: left; width: 100px; height: 35px; line-height: 35px; }
  .menuList li a{ display: block; width: 100%; height: 100%; color: #556; }
  .menuList .menuListLast{ float: right; }

/* 主体部分 */
/* because of my broken input method ( fcitx ) */
     /*  */
     /* main container */
     .mainContainer{
	 max-width: 1200px;
	 margin: auto;
	 border-top: 1px solid #fff;
	 border-bottom: 1px solid #fff;
	 /*background-color: #fff;*/
     }
     /* 介绍文字 container */
     .welcomeContainer{
	 /*border: 1px solid red;*/
     }
     
     /* debian详细内容 container */
     .detailsOfDebian{
	 /*border: 1px solid orange;*/
     }
     .mainContent{
	 /*border: 1px solid yellow;*/1
     }
     .newsContainer li, .updateContainer li{
	 display: -webkit-flex;
	 display: flex;
	 -webkit-flex-direction: row;
	 flex-direction: row;
	 line-height: 30px;
	 padding-left: 0.2em;
	 padding-right: 0.2em;
     }
     @media ( max-width: 450px ) {
	 .updateContainer li{ display: block; }
     }
     .newsContainer li:nth-child(2n+1), .updateContainer li:nth-child(2n+1){
	 background: #E4E4E4;
	 border-top: 1px solid #666;
	 border-bottom: 1px solid #666;
     }
     .newsDate{
	 -webkit-flex: 2;
	 flex: 2;
     }
     .newsTitle{
	 -webkit-flex: 6;
	 flex: 6;
     }
     .newsLink{
	 -webkit-flex: 1;
	 flex: 1;
     }
     .updateDate{
	 -webkit-flex: 4.4;
	 flex: 4.4;
     }
     .updateTitle{
	 -webkit-flex: 7;
	 flex: 7;
	 overflow: hidden;
	 text-overflow: "...";
	 white-space: no-wrap;
	 -webkit-box-orient: vertical;
	 -webkit-line-clamp: 1;
	 height: 30px;
     }
     /* 侧边栏 container */
     .solider{
	 /*border: 1px solid green;*/
     text-align: center;
     }
     .detailsOfDebian, .welcomeContainer, .mainContent, .solider, .guideAndNewsContainer{
	 -webkit-flex: auto;
	 flex: auto;
	 display: -webkit-flex;
	 display: flex;
	 -webkit-flex-direction: column;
	 flex-direction: column;
     }
     /* split the width of 100% to 12 cols  */
     .col-1, .col-2, .col-3{
	 border-top: 1px solid #fff;
	 border-bottom: 1px solid #fff;
	 margin: 20px;
	 background-color: #fff;
	 -webkit-flex: auto;
	 flex: auto;
	 -webkit-flex: 1;
	 flex: 1;
     }
     /* media query for all screens to select the right width */
     @media ( min-width: 800px ) {
	 .guideAndNewsContainer{
	     -webkit-flex-direction: row;
	     flex-direction: row;
	 }
	 .col-2, .col-3{
	     -webkit-flex: 2;
	     flex: 2;
	 }
     }
     @media ( min-width: 1200px ) {
	 .detailsOfDebian{
	     -webkit-flex-direction: row;
	     flex-direction: row;
	 }
     }
     @media ( max-width: 1200px ) {
	 .solider{
	     -webkit-flex-direction: row;
	     flex-direction: row;
	 }
     }
     @media ( max-width: 800px ) {
	 .newsContainer li{
	     display: block;
	     position: relative;
	 }
	 .newsLink{
	     position: absolute;
	     top: 0;
	     right: 0.2em;
	 }
	 .solider{
	     -webkit-flex-direction: column;
	     flex-direction: column;
	 }
     }
     /* #text the first content for debiancn-home page */
     .paragraphTitle{
	 margin: 20px;
	 border-bottom: 1px solid #ccc;
	 text-indent: 10px;
	 line-height: 30px;
     }
     .moreMsg{
	 float: right;
	 font-size: 14px;
	 font-weight: 500px;
     }
     .paragraphContent{
	 margin: 20px;
     }
     .paragraphContent p{
	 line-height: 30px;
     }
     .linkLists li{
	 line-height: 30px;
     }

     .layoutContact{
	 line-height: 2em;
     }
     .contactList li{
	 list-style-position: inside;
	 text-indent: 3em;
     }

     .layoutDonate{
	 text-align: center;
     }
     .layoutDonate h3{
	 text-align: left;
     }
/* 页脚 */
footer{
    height: 60px;;
    border-top: 5px solid #D24C72;
    background-color: #fff;
    font-size: 0.8em;
    text-align: center;
    padding-top: 15px;
}

/* 宽屏尺寸网页样式 */ 
@media only screen and ( min-width: 400px ) {
    
}
.mobi_show{ display: none; }
/* 小屏幕尺寸网页样式 */
@media only screen and ( max-width: 720px ) {
    .mobi_hide{ display: none; }
    .mobi_show{ display: block; }
    .ls_container{ min-width: auto; }
    .menuList li{ width: 100%; }
}

/* IE warning */
.IEWarning{
    display: none;
    text-align: center;
    margin-bottom: 20px;
    line-height: 20px;
    color: #D24C72;
    position: relative;
}
.IEWarning strong{
    /*color: red;*/
}
.closeIEWarning{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
.closeIEWarning::before, .closeIEWarning::after{
    content: '';
    display: block;
    background-color: #D24C72;
    position: absolute;
    left: 4px;
    width: 25px;
    height: 5px;
    border-radius: 10px;
			 }
.closeIEWarning::before{
    top: 5px;
    transform: rotate(45deg) translateY(7px) translateZ(2px);
}
.closeIEWarning::after{
    top: 15px;
    transform: rotate(-45deg) translateY(-7px) translateZ(2px);
}
