.github-corner {
  position: absolute;
  right: 0;
  top: 0;
}

.search-form {
  margin: 0 .5em;
  display: flex;
  align-items: center;
}

@media screen and ( max-width: 930px ) {
  .search-form {
    display: none;
  }
}

.search-form > * {
  margin: 0 .25em;
  height: 1.5em;
}

#search {
  border: 1px solid #ccc;
}

@media screen and ( max-width: 1200px ) {
  #search {
    width: 8em;
  }
}

#search-submit {
  border: 1px solid #ddd;
}


h1 {
  font-size: 1.5em;
  padding-left: .83em;
  line-height: 1.875em;
  margin-top: 0;
}

.tab-content > * {
  margin-bottom: 3.125em;
}

.tab-content > .d-flex {
  justify-content: space-between;
}

.file-index {
  min-width: 65%;
}

.file-index a {
  text-decoration: underline;
}

.content-left {
  min-width: 30%;
}

.content-left ul {
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 0;
  list-style-type: none;
  font-size: 1em;
  line-height: 1.4em;
}
.content-left ul li a {
  color: #555;
}

/* search result */
.searchResult{
  display: none;
  position: absolute;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  background-color: #fff;
  border-bottom: 3px solid #D24C72;
  max-height: 10em;
  max-width: 30em;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.9em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.searchResult li{
  list-style: none;
  text-indent: 0px;
  padding: 3px 5px;
  white-space: nowrap;
}

/* stripped list effect */
.searchResult li:nth-child(odd) {
  background-color: rgba(238, 238, 238, 0.7);
}

.searchResult li:nth-child(even) {
  background-color: rgba(211, 83, 83, 0.45);
}

.searchResult li a:first-child {
  color: #555;
}


hr {
  display: none;
}

pre {
  overflow: auto;
  margin: 1em;
  line-height: 2em;
  font-family: monospace;
  color: black;
}

/* ***** */
/* Icons */
/* ***** */


pre a[href]:before {
  content: "\200B";
  text-decoration: none;
  padding-top: 5px;
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

pre a[href]:before {
  background-image: url(../images/icons/default.png);
}

pre a[href$="/"]:before {
  background-image: url(../images/icons/folder.png);
}

pre a[href$="../"]:before {
  background-image: url(../images/icons/folder-parent-old.png);
}

/* Checksums */

pre a[href$=".md5"]:before {
  background-image: url(../images/icons/checksum.png);
}

/* Compression */

pre a[href$=".gz"]:before {
   background-image: url(../images/icons/zip.png);
}

pre a[href$=".xz"]:before {
   background-image: url(../images/icons/zip.png);
}

/* Vagrant */

pre a[href$=".box"]:before {
   background-image: url(../images/icons/vagrant.png);
}

/* Debian */

pre a[href$=".deb"]:before {
   background-image: url(../images/icons/deb.png);
}

pre a[href$=".dsc"]:before {
   background-image: url(../images/icons/text.png);
}

pre a[href$=".json"]:before {
   background-image: url(../images/icons/json.png);
}

/* Crypt */

pre a[href$=".gpg"]:before {
   background-image: url(../images/icons/checksum.png);
}

/* footer disc */

.disc {
  padding: 1.25em 40% 1.25em 9%;
  border-top: 1px solid #ddd;
  background-color: rgba(238, 238, 238, 0.7);
  font-size: 0.9em;
  line-height: 1.4;
}

@media screen and ( max-width: 768px ) {
  .disc {
    padding-right: 9%;
  }
}
